.container {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  background: rgba(#222, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(white, 0.2);
  border-radius: 0.3em;
  overflow: hidden;
}

.name {
  font-size: 1em;
  font-weight: normal;
}

.image {
  display: block;
  width: 3em;
  height: 3em;
  object-fit: cover;
}
