.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
}

.title {
  font-size: 2em;
}

.list {
  display: flex;
  align-items: stretch;
}

.listItem {
  padding: 0.5em;
}

.rankings {
  display: flex;
  flex-direction: column;

  span {
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
  }
}
