.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
  padding-bottom: 10vh;
}

.title {
  font-size: 2em;
}

.listWrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: var(--spacing);
  margin-bottom: calc(var(--spacing) * 2);
}

.list {
  flex: 1;
}

.listItem {
  padding: 0.5em 0;
}

.rankings {
  display: flex;
  flex-direction: column;

  span {
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing);
  background: rgba(black, 0.2);
  border-top: 1px solid rgba(white, 0.2);
}
