*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 140%;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --spacing: 0.5em;

  @media (max-width: 500px) {
    font-size: 110%;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: #222 url('./assets/background.jpg') center center;
  background-size: cover;

  @media (max-width: 10em) {
    align-items: center;
  }
}

#root {
  display: contents;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}
